<h1>USERS INDEX</h1>
<div class="container">
<% @users.each do |user| %>
<%= user.email%>
<%=	user.first_name%>

	<td>
	<%= button_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button') unless user == current_user %> 
	
</td>

		<%= form_for(user) do |f| %>
		<%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
		<td>	
		<%= f.submit 'Change Role' %>
		</td>
	<% end %>

	<%= form_for(user) do |f| %>
		<%= f.select(:level, User.levels.keys.map {|level| [level.titleize,level]}) %>
		<td>	
		<%= f.submit 'Change level' %>
		</td>
	<% end %>

	<%= form_for(user) do |f| %>
		<%= f.select(:department_id, Department.all.collect { |d| [d.title, d.id] }) %>
		<td>	
	<%= f.submit 'Change Department' %>
		</td>
	<% end %>

<% end %>
</div>