<div>
	<%= @department.title %>
</div>

<div>
	<%= image_tag(@department.cover_image_thumbnail) %>
</div>

<div>
	<div>
		Development plans:
	</div>
	<%- @department.development_plans.each do |dev_plan| %>
		<div>
			<%= link_to dev_plan.title, department_development_plan_path(@department, dev_plan), class: "btn btn-primary" %>
		</div>
	<% end %>
</div>

<div>

	<%= link_to "Edit", edit_department_path, class: "btn btn-warning" %>
	<%= button_to "Delete", department_path(@department), method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger" %>

	<%= link_to "Back", departments_path, class: "btn btn-primary" %>

	<%= link_to "New dev plan", new_department_development_plan_path(department_id: @department.id), class: "btn btn-success" %>
</div>

