<div>
	<%= @development_plan.title %>
</div>

<div>
	<div>
		Flow Steps:
	</div>
	<%- @development_plan.flow_steps.each do |flow_step| %>
		<div>
			<%= link_to flow_step.title, development_plan_flow_step_path(@development_plan, flow_step), class: "btn btn-primary" %>
		</div>
	<% end %>
</div>

<div>
	Department

	<%=  link_to @development_plan.department.title, department_path(@development_plan.department), class: "btn btn-primary"  %>
</div>

<div>

	<%= link_to "Edit", edit_department_development_plan_path, class: "btn btn-warning" %>
	<%= button_to "Delete", department_development_plan_path(@development_plan.department, @development_plan), method: :delete, class: "btn btn-danger" %>



	<%= link_to "New flow step", new_development_plan_flow_step_path(development_plan_id: @development_plan.id), class: "btn btn-success" %>
</div>
    
