<div>
	<%= @development_plan.title %>
</div>

<table style="width: 100%;">
	<tr>
    <th style="border: 1px solid #000000">Level</th>
    <%- @development_plan.flow_steps.each do |flow_step| %>
    	<th style="border: 1px solid #000000">
    		<%= link_to flow_step.title, development_plan_flow_step_path(@development_plan, flow_step) %>
    	</th>
		<% end %>
  </tr>
  <%- Task.levels.keys.each do |task_level| %>
  	<tr>
  		<th style="border: 1px solid #000000"><%= task_level.titleize %></th>
  		<%- @development_plan.flow_steps.each do |flow_step| %>
  			<th style="border: 1px solid #000000">
  				<%- flow_step.tasks.send(task_level).each do |task| %>
						<div>
							<%= link_to task.title, flow_step_task_path(flow_step, task) %>
						</div>
					<% end %>
  			</th>
			<% end %>
  	</tr>
	<% end %>
</table>

<div>
	Department

	<%=  link_to @development_plan.department.title, department_path(@development_plan.department), class: "btn btn-primary"  %>
</div>

<div>

	<%= link_to "Edit", edit_department_development_plan_path, class: "btn btn-warning" %>
	<%= button_to "Delete", department_development_plan_path(@development_plan.department, @development_plan), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>



	<%= link_to "New flow step", new_development_plan_flow_step_path(development_plan_id: @development_plan.id), class: "btn btn-success" %>
</div>
    
